html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: lighten($grayishBlue, 20%);
  display: flex;
  font-family: $fontFamily;
  font-size: 1.6rem;
  justify-content: center;
}
