html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  display: flex;
  background: $grayishBlue;
  font-family: $fontFamily;
  font-size: 1.6rem;
  height: 100vh;
}
