// colours
$cyan: hsl(179, 62%, 43%);
$brightYellow: darken(hsl(71, 73%, 54%), 10%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

// font
$fontSize: 1.6rem;
$fontFamily: 'Karla', sans-serif;
$fontWeight400: 400;
$fontWeight700: 700;

// screen sizes
$mobile-sm: 375px;
$mobile-lg: 414px;
$tablet-sm: 768px;
$tablet-lg: 1024px;
$desktop-sm: 1280px;
$desktop-lg: 1440px;
